body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0px;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  color: #004A7C;
}

h2 {
  font-family: 'Montserrat', serif;
  font-size: 2.2rem;
  font-weight: 500;
  color: #004A7C;
  margin: 40px auto 100px;
}

h3 {
  font-family: 'Montserrat', serif;
  color: #004A7C;
  font-weight: 700;
  margin: 40px auto 40px;
}

hr {
	margin: 100px auto 100px;
	border-style: dotted none none none;
	width: 6%;
	border-color: #E8F1F5;
	border-width: 12px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bot-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-container{
  background-color: #E8F1F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
	padding: 50px 20px 10px;
	color: #FAFAFA;
   background-color: #017691;
}

.profile-foto{
  border-radius: 100%;
  width: 250px;
  height: 300px;
}

.profile {
	margin: 50px auto 50px;
	width: 60%;
}

.network-icon {
	width: 10%;
	height: 10%;
	min-width: 180px;
	min-height: 180px;
	max-width: 240px;
	max-height: 240px;
	float: right;
	margin-left: 50px;
}

.terminal-icon{
	width: 6%;
	height: 6%;
	min-width: 140px;
	min-height: 140px;
	max-width: 180px;
	max-height: 180px;
	float: left;
	margin-right: 50px;
}

.contributor {
	color: #FAFAFA;
	font-size: 1.3rem;
	font-family: 'Montserrat', serif;
	padding-top: 10px;
	text-decoration: none;
	font-size: 1.3rem;
	display: block;
}

.contributor:hover {
	color: black;
}
	

.skill-row {
	text-align: left;
	margin: 100px auto 100px auto;
	width: 50%;
	line-height: 2;
}

.footer-link {
	font-weight: 600;
	text-decoration: none;
	margin-left: 40px;
	font-size: 1.5rem;
	font-family: 'Montserrat', serif;
	color: #E8F1F5;
}

.footer-link:hover {
	color: black;
}

.text-before-button {
	width: 60%;
	margin: auto auto 60px;
}

.btn {
	font-size: 1.5rem;
	font-family: 'Montserrat', serif;
	text-decoration: none;
	font-weight: 600;
	padding: 8px 8px 8px 8px;
	color: #FAFAFA;
	background-color: #017691;
	border-radius: 14px;
}

.btn:hover {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: black;
}

.contact-me {
	margin: 100px auto 150px;
}

.footer-text{
	margin: 60px auto 0px;
}